<?xml version="1.0" encoding="utf-8"?><!--
    All permissions and activiites go in this file.
    All of the definitions for the application.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.garisian.eventlocator">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfxw5cINgN7q89t-HGIsnsb6lRUDU8rjQ"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>